<div class="container mt-5 mb-5">
  <div class="row">
    <h3 class="bg-light">商品詳細</h3>
  </div>
  <div class="row">

      <table class="table table-hover table-inverse">
        <tbody>
          <tr>
            <td>商品ID</td>
            <td><%= @product.id %></td>
          </tr>
          <tr>
            <td>商品名</td>
            <td><%= @product.genre.name%></td>
          </tr>
          <tr>
            <td>数量</td>
            <td><%= @product.product_count %></td>
          </tr>
          <tr>
            <td>納期</td>
            <td><%= @product.delivery_date %></td>
          </tr>
        </tbody>
      </table>
      <%= link_to 'この商品を開始する', progress_path(@product), class: 'btn btn-success' %>
    </div>
  </div>
</div>